# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yaml and/or the recipe/meta.yaml.

language: objective-c

env:
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "leJJDJLUa7e02P0AKEP7OidPlDc9icbCAl6MAYKU1zZ79UycEsFw4nrCujDPYIX06Gfl7ctrfH38bLZ/4OsCdLBpfgDQCY8M9xrR0VgMN0g66aMKZYKdrCshjyzbs4giTe6eedlHyo1QDG+715b5/SjakrtQ4+T/Q8n6o+PNs4IhVsJz4KFt16JLkf78oGr/y+PBrj32M0x+J63AwPKpUkbFQ6JaSPon4btk6FErNGmbForha/0x0pmCSjsYv+jYEkV3JSDr44zF1e91yU3ri9+AYrf+5a05UHAeSCF6zkiR99wxTOZGrzSEDlgAA3bQhn3dqjLuYhiOCl/rKddeXpLs6KwWa/ORBXaPoQyyL5PgWxp31tq1B2WNfHKNCDEuyQAKxgXPQy0ejy5PdSxRRmSw+/xLcxc/fL1vsrOVnGJwahZVip9l+jvyocnCCrE5d8md2uqRHFSU6JokACKdkeka/9AKt56ySJko9FiI+/kNDRNOLAZnZslwMGRl6GZb1RCD+Aj5h7qqx8GTQN0zVZ+Flmx2jcocUghsUJg7z2LR7b6S/bUUJ5ItWHc2D30JyFJcUGutxlW5cbhodZpCzsKRJSfXEXEkYEYuORm2pNgiO/nxYr/yRZzC7aGG8wiLQ7iw0bP9vCSihXMrfL2JJS8wrUq6aopNZ91Nf59zYu8="


before_install:
    # Remove homebrew.
    - brew remove --force $(brew list)
    - brew cleanup -s
    - rm -rf $(brew --cache)

install:
    - |
      MINICONDA_URL="http://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

      export PATH=/Users/travis/miniconda3/bin:$PATH
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-build-setup
      source run_conda_forge_build_setup

script:
  - conda build ./recipe

after_success:

  - ./ci_support/upload_or_check_non_existence.py ./recipe conda-forge --channel=main
